* {
  margin: 0;
  padding: 0;
}

.col {
  color: white;
  background-color: rgb(44, 112, 135);
  padding: 15px 25px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}

.col-1 {
  flex: 1;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}
