* {
  margin: 0;
  padding: 0;
}

.container {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

a {
  display: block;
}

hr {
  margin: 30px;
}

nav {
  display: flex;
  gap: 10px;
}

.product {
  display: flex;
  justify-content: space-between;
}
